
<% if login? %>
  <div class="microposts">
    <div class="title_container"> 
      <h1 class="content">マイクロポスト</h1>
    </div> 
    
    <div class="notice_container">
      <% if @microposts %>
        <%  @microposts.each do |micropost| %>
          <div class="notice_container_item">
            <div class="notice_container_item2">
            <%= link_to "/users/#{micropost.user.id}" do %>
              <div class="notice_container_item_image">
                <div class="user_image">
                  <% if micropost.user.image? %>                                                              
                    <%= image_tag micropost.user.image.url(:thumb100), class: "image" %>
                  <%  else %>
                     <img src="/assets/default.png" class="image" alt="ユーザーアイコン" >
                  <% end %>
                </div>
              </div>
                <%end%>
              <div class="microposts_contents">
                <div class="microposts_info">
                  <div class="microposts_info_user">
                    <div class="micropost_user">
                       <%= micropost.user.name%>
                    </div>
                    <div class="micropost_time">
                        Posted <%= time_ago_in_words(micropost.created_at) %> ago.
                    </div>
                  </div>
                  <div class="microposts_delete">
                    <%if current_user?(micropost.user)%>
                      <%= link_to "削除", micropost_path(micropost.id), method: :delete,
                                    data: { confirm: "You sure?"}%>
                    <% end %>
                  </div>
                </div>
                <div class="micropost_content">
                  <%= safe_join(micropost.content.split("\n"),tag(:br)) %>
                </div>
              </div>
          </div>
          </div>
        <% end %>
        <% end %>
    </div>
  </div>

  <div class="notice_creater_container">
    <div class="notice_creater">
      <%= form_with model: @micropost do |f| %>
      
        <%= f.label :マイクロポスト %>
        <p style="white-space:pre-wrap;">
        <%= f.text_area :content,placeholder: "Tell everyone more about you!", class: "form-group form" %>
        </p>
      <%= f.submit"投稿", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
<% else %>
		<div class="hero_inner">
			<div class="hero_heading">
				<div class="hero_title">
				PORTFOLIO
				</div>
        <div class="btns">
          <button class="btn btn-primary">
            <%= link_to "新規登録", sign_up_path  %>
          </button>
          <button class="btn btn-primary">
            <%= link_to "ログイン", login_path %>
          </button>
				</div>
			</div>
		</div>


<% end %>
