<% if user_signed_in? %>
  <div class="microposts">
    <div class="title_container"> 
      <h1 class="content">マイクロポスト</h1>
    </div> 

    <%= render "shared/micropost_form"  %>
    <div class="notice_creater_container">
      <div class="notice_creater">
        <%= form_with model: @micropost do |f| %>
        
          <%= f.label :マイクロポスト %>
          <p style="white-space:pre-wrap;">
            <%= f.text_area :content,placeholder: "Tell everyone more about you!", class: "form-group form" %>
          </p>
          <%= f.submit"投稿", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
		<div class="hero_inner">
			<div class="hero_heading">
				<div class="hero_title">
			SCIENCE ALLIANCE
				</div>
        <div class="btns">
          <button class="btn btn-primary btn-l">
            <%= link_to "新規登録", new_user_registration_path, class: "btn-color"  %>
          </button>
          <button class="btn btn-primary btn-r">
            <%= link_to "ログイン", new_user_session_path , class: "btn-color"%>
          </button>
				</div>
			</div>
		</div>
<% end %>
