<div class="microposts">
  <div class="title_container"> 
    <h1 class="content">マイクロポスト検索</h1>
  </div> 


  <div class="notice_creater_container">
    <div class="notice_creater">
    
      検索項目
      <%= link_to "掲示板", search_notices_path %>
      <%= link_to "ユーザー", search_users_path %>
      <%= link_to "マイクロポスト", search_microposts_path %>

      <%= form_tag(search_microposts_path, :method => "get") do %>
      <%= text_field_tag :search %>
      <%= submit_tag"キーワード検索", class: "btn btn-primary" %>
      <% end %>

    </div>
  </div>

  <%= render "shared/micropost_form"%>
</div>