<!DOCTYPE html>
<html>
  <head>
    <title>SA | Home</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag   'application', media: 'all',
                              'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag   'application',
                              'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
<![endif]-->
  </head>
  <body>
  <div class="wrap">
      <% if user_signed_in? %>
      <div class="menu">
        <div class="menu_inner">
          <div class="hrader_logo">
            <h1 class="logo logo">
              <%= link_to "SCIENCE ALLIANCE", root_path, class: "logo_image" %>
            </h1>
          </div>
          <ul class="menu_list" >
            <li class="menu_list_li"> <%= link_to "ホーム", root_path, class:"menu_list_item" %></li>
            <li class="menu_list_li"> <%= link_to "検索", search_notices_path, class:"menu_list_item" %></li>
            <li class="menu_list_li"> <%= link_to "掲示板", notices_path, class:"menu_list_item" %></li>
            <li class="menu_list_li"> <%= link_to "メッセージ", rooms_path, class:"menu_list_item" %></li>
            <li class="menu_list_li"> <%= link_to "プロフィール", "/users/#{current_user.id}", class:"menu_list_item" %></li>
            <li class="menu_list_li"> <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: {confirm: "ログアウトします？"}, class:"menu_list_item" %></li>
            <li class="menu_list_li"> <%= link_to "設定", edit_user_registration_path, class:"menu_list_item" %></li>
          </ul> 
        </div>
      </div>
      <% else %>
        <div class="header active">
          <div class="header_logo">
            <h1 class="logo">
              <a class="logo_link">
                <%= link_to "SCIENCE ALLIANCE", root_path, class: "logo_image"%>
              </a>
            </h1>
          </div>
          <nav class="global-nav">
            <ul class="global-nav_list">
              <li class="global-nav_item">
                <a>
                  <%= link_to "home", root_path, class: "global-nav_link" %>
                </a>
              </li>
              <li class="global-nav_item">
                <a>
                  <%= link_to "about", about_path, class:"global-nav_link" %>
                </a>
              </li>
              <li class="global-nav_item">
                <a>
                  <%= link_to "help", help_path, class:"global-nav_link"%>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      <% end %>
    <%if user_signed_in? %>  
      <div class="main_container">
        <% flash.each do |message_type, message|%>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}")%>
        <% end %>
        <%= yield %>
      </div>
    <% else %>
      <div class="hero" style="height:	837px;">
          <% flash.each do |message_type, message|%>
            <%= content_tag(:div, message, class: "alert alert-#{message_type}")%>
          <% end %>
        <%= yield %>
      </div>
    <% end %>
  </div>
  </body>
</html>
