検索項目
<%= link_to "掲示板", search_notices_path %>
<%= link_to "ユーザー", search_users_path %>
<%= link_to "マイクロポスト", search_microposts_path %>
  <%= form_with url:'/users/search', method: :get do |f| %>
	
  <%= f.label :登録地域 %>
  <%= f.select :area, User.areas.keys, {}, {class: 'hoge'} %>

	<%= f.submit"検索", class: "btn btn-primary" %>
	<% end %>

  <%= form_tag(search_users_path, :method => "get") do %>
  <%= text_field_tag :search %>
  <%= submit_tag"キーワード検索", class: "btn btn-primary" %>
  <% end %>


<% if @users  %>
<% @users.each do |user| %>
  <li>
  <%=  link_to user_path(user) do %>
  <% if user.image? %>                                                              
  <%= image_tag user.image.url %> 
<% end %>
    <span class="user_name"><%= user.name %></span>
    <span>地域: <%= user.area %></span>
  <% end %>
  </li>
<% end %>
<% end %>