<div class="microposts">
    <div class="title_container">
      <h1 class="content">プロフィール</h1>
    </div>
  <div class="profile_main">
      <div class="profile_main2">
          <div class="profile_info">
            <div class="profile_info_a">
                <div class="profile_image_area">
                  <div class="user_image2">
                    <% if @user.image? %>                                                              
                      <%= image_tag @user.image.url(:thumb), class: "image2" %>
                    <% else %>
                      <img src="/assets/default.png" class="image2" alt="ユーザーアイコン" >
                    <% end %>
                  </div>
                </div>
            <div class="profile_wrapper">
              <div class="profile_info_b">
                <div class="profile_info_c">
                  <div class="profile_user_info">
                    <div class="user_name">
                      <%= @user.name%>
                    </div>
                    <p>登録地域　<%= @user.area%></p>
                  </div>
                  <div class="profile_icons">
                    <%= render 'follow_form' if login? %>
                    <% if @user.id == current_user.id %>
                    <% else %>
                      <% if @isRoom == true %>
                        <p><a href="/rooms/<%= @roomId %>">チャットへ</a>
                      <% else %>
                        <%= form_for @room do |f| %>
                          <%= fields_for @entry do |e| %>
                            <%= e.hidden_field :user_id, :value=> @user.id %>
                          <% end %>
                          <%= f.submit "チャットを始める", class: "btn btn-primary" %>
                        <% end %>
                      <% end %>
                    <%end%>
                  </div>
                </div>
                <section class="stats">
                  <%= render 'shared/stats' %>
                </section>
              </div>
          </div>
          <div class="introduction_wrapper">
            <% if @user.introduction? %>
              <%= safe_join(@user.introduction.split("\n"),tag(:br)) %>
            <% end %>
            <%= link_to "編集", edit_user_path(@user.id)  %>
          </div>
      <div class="profile_link_wrapper">
        <div class="profile_link_item">
          <%= link_to "マイクロポスト", "/users/#{current_user.id}"%>
        </div>
        <div class="profile_link_item">
          <%= link_to "掲示板", "/users/#{current_user.id}/show2"%>
        </div>
         <div class="profile_link_item">
          メディア
        </div>
      </div>  
        <%if @files.blank?%>
        <%else%>
          <% @files.each do |file| %>
            <object data="<%= file.file.url %>" type="application/pdf" width="200" height="300"></object>
          <%end%>
        <%end%>
     </div>
    </div>
  </div>
</div>
</div>
