<div class="posts">
  <div class="title_container"> 
    <h1 class="content">掲示板</h1>
  </div> 

  <div class="notice_container">
    <%  @notices.each do |notice| %>
      <div class="notice_container_item post_back">
        <%=  link_to notice_path(notice), class: "notice_container_item2" do %>
        <div class="notice_container_item_image">
          <div class="user_image">
              <% if notice.user.image? %>                                                              
                <%= image_tag notice.user.image.url(:thumb100), class: "image"%>
              <% end %>
          </div>
        </div>
        <div class="microposts_contents"> 
          <div class="microposts_info">
          <div class="microposts_info_user">
            <div class="micropost_user">
              投稿者: <%= notice.user.name%>
            </div>
            <div class="micropost_area">
              地域: <%= notice.area %>
            </div> 
            <div class="micropost_time">
              Posted <%= time_ago_in_words(notice.created_at) %> ago.
            </div>
          </div>
          </div>
          <div class="notice_title">
            <%= notice.notice_title %>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

  <div class="notice_creater_container">
    <div class="notice_creater">
    <%= form_with model: @notice do |f| %>
    
    <%= f.text_field :notice_title,placeholder: "タイトル",class: "post_title",size: 43 %>

    <%= f.text_area :notice_body, placeholder: "募集内容",class: "form" %>

    <%= f.label :募集地域 %>
    <%= f.select :area, Notice.areas.keys, {}, {class: 'hoge'} %>

    <%= f.submit"投稿", class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>
