<div class="posts">
  <div class="title_container">
    <h1 class="content">掲示板詳細</h1>
  </div>
  
  <div class="u_post_main">
    <div class="u_post_main2">
      <div class="u_post_head">
        <div class="u_post_head_image">
          <div class="user_image2">
            <% if @notice.user.image? %>                                                              
              <%= image_tag @notice.user.image.url(:thumb), class: "image2" %> 
            <% else %>
              <img src="/assets/default.png" class="image2" alt="ユーザーアイコン" >
            <% end %>
          </div>
        </div>
        <div class="u_post_user">
          <div class="u_post_user_title">
            <%=@notice.notice_title%>
          </div>
          <div class="u_post_user_info">
            <%=@notice.user.name%>
            地域: <%=@notice.user.area%>
          </div>
        </div>
      </div>
      <div class="u-post_main">
        <div class="notice_body"><%= safe_join(@notice.notice_body.split("\n"),tag(:br)) %> </div>

        <div class="u_post_link">
            <div class="timestamp">
                Posted <%= time_ago_in_words(@notice.created_at) %> ago.
                <% if current_user?(@notice.user)%>
                  <%= link_to "delete", notice_path(@notice.id), method: :delete,
                                      data: { confirm: "You sure?"}%>
                <% end %>
            </div>
      
          <%= link_to "#{@notice.user.name}さんのプロフィールを見る", "/users/#{@notice.user.id}"%>
          <% if @user.id == current_user.id %>
          <% else %>
            <% if @isRoom == true %>
              <p><a class="btn btn-primary" href="/rooms/<%= @roomId %>">チャットへ</a>
            <% else %>
              <%= form_for @room do |f| %>
                <%= fields_for @entry do |e| %>
                  <%= e.hidden_field :user_id, :value=> @user.id %>
                <% end %>
                <%= f.submit "チャットを始める" , class: "btn btn-primary"%>
              <% end %>
            <% end %>
          <% end %>
          <%= link_to "一覧に戻る", notices_path %>
        </div>
      </div>
    </div>
  </div>
</div>