<% if @notice.user.image? %>                                                              
  <%= image_tag @notice.user.image.url %> 
<% end %>
 <%= link_to "#{@notice.user.name}さんのプロフィールを見る", "/users/#{@notice.user.id}"%>
 <span class="notice_body"><%= @notice.notice_body %></span>
  <span class="timestamp">
      Posted <%= time_ago_in_words(@notice.created_at) %> ago.
      <% if current_user?(@notice.user)%>
        <%= link_to "delete", notice_path(@notice.id), method: :delete,
                            data: { confirm: "You sure?"}%>
      <% end %>
 </span>
 <% if @user.id == current_user.id %>
<% else %>
  <% if @isRoom == true %>
    <p><a href="/rooms/<%= @roomId %>">チャットへ</a>
  <% else %>
    <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, :value=> @user.id %>
      <% end %>
      <%= f.submit "チャットを始める" %>
    <% end %>
  <% end %>
<% end %>
 <%= link_to "一覧に戻る", notices_path %>